.logo {
  margin-right: 93px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $accent-color;

  &__label {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $black-color;
  }
}
