/* ______________________________________ SECTION OF PROJECT ________________________________ */

.section-project {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  /* overflow: hidden; */

  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 7px;
    }
  }
}

.section-project__item .section-project__url {
  text-decoration: none;
  color: inherit;
}
.section-project__wrapper {
  position: relative;
  overflow: hidden;
  height: 294px;
}
.section-project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: $accent-color;
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.section-project__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: $white-color;
}

.section-project__item:hover,
.section-project__item:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.section-project__url:hover .section-project__overlay,
.section-project__url:focus .section-project__overlay {
  transform: translateY(0);
}

.section-project__aside {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.section-project__title {
  margin: 0;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  color: $title-text-color;
}
.section-project__desc {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: $primary-text-color;
}

/* __________________________________ END SECTION OF PROJECT _____________________________ */
