/* ___________________________________SECTION OF TEAM___________________________________ */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: $title-text-color;
  }
}

.section-team__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $white-color;

  &:last-child {
    margin-right: 0;
  }
}

.section-team__img {
  margin-bottom: 30px;
}

.section-team__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $title-text-color;
}

.section-team__text {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $primary-text-color;
}

.social-links {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  background-color: $white-color;
  fill: #afb1b8;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $white-color;
    background-color: $accent-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:last-child {
    margin-right: 0;
  }
}

.instagram,
.twitter,
.facebook,
.linkedin {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* _________________________________END SECTION OF TEAM_________________________________ */
