  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $white-color: #ffffff;
  $black-color: #000000;
  $border-color: #afb1b8;
  $background-color: #2f303a;
  $contacts-color: #ffffff99;
  $footer-link-color: rgba(255, 255, 255, 0.1);
  $main-font: "Roboto", sans-serif;
  $secondary-font: "Raleway", sans-serif;
